// @import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
.App {
    background: #fedfe3;
        font-family: 'Pacifico', cursive;
    position: relative;
    .q10 {
        z-index: 3;
        width: 200px;
        // position: relative;
        position: absolute;
        right: 0px;
        // top: 300px;
        top: -40px;
    }
    .q11 {
        width: 230px;
        // position: relative;
        position: absolute;
        right: 100px;
        // top: 300px;
        top: -40px;
        z-index: 99;
    }
    .q12 {
        z-index: 3;
        width: 200px;
        // position: relative;
        position: absolute;
        // right: 5px;
        left: 0;
        // top: 300px;
        top: -40px;
    }
 
    padding: 40px;
    .q1 {
        width: 130px;
        // position: relative;
        position: absolute;
        right: -35px;
        top: 300px;
    }
    .q2 {
        width: 130px;
        // position: relative;
        position: absolute;
        // left: -10px;
        left: 0;
        top: 300px;
        transform: rotate(90deg);
    }
    .q5 {
        position: absolute;
        width: 120px;
        left: 100px;
        top: 300px;
        z-index: 33;
    }
    .q6 {
        position: absolute;
        width: 180px;
        left: calc(80% - 180px);
        top: 57%;
        z-index: 33;
    }
    .q7 {
        width: 125px;
        position: absolute;
        right: 0px;
        // transform: rotate(160deg);
        top: 40px;
    }
    .q8 {
        width: 125px;
        position: absolute;
        left: 10px;
        top: 50px;
    }
    .main {
        width: 90%;
        // height: 110vh;
        min-height: 160vh;
        // padding: 20vh 0;
        background: #f3e3e5;
        position: relative;
        border-radius: 200px 200px 200px 200px;
        border: 3px solid #e3be54;
        box-shadow: 10px 10px 100px 10px rgba(0, 0, 0, 0.05);
        margin: 0 auto;
        .textblock {
            color: #d49494;
            text-align: center;
            h2 {
                font-family: 'Pacifico', cursive;
                font-weight: 200;
                letter-spacing: 5px;
            }
            h1 {
                margin-top: 60px;
                font-size: 30px;
            }
            .q3 {
                width: 150px;
            }
        }
    }
    .block {
        padding: 20px;
        margin: 0 auto;
        width: 230px;
        width: 80%;
        background: #fedfe3;
        border-radius: 5px;
        .q4 {
            margin-left: 80px;
            margin-top: -30px;
            position: absolute;
            z-index: 2;
        }
        .block1 {
            position: relative;
            width: 100%;
            border: 2px solid #bb9096;
            border-radius: 10px;
            .data1 {
                margin-top: 10px;
                padding: 10px;
                display: flex;
                text-align: center;
                height: 20px;
                gap: 10px;
                p {
                    font-size: 12px;
                    margin-top: 3px;
                    text-align: center;
                    align-items: center;
                }
                img {
                    width: 20px;
                }
            }
        }
    }
    .block2 {
        padding: 20px;
        margin: 50px auto;
        width: 80%;
        background: #fedfe3;
        border-radius: 5px;
        .block22 {
            position: relative;
            width: 100%;
            border: 2px solid #bb9096;
            border-radius: 10px;
            .block22-2 {

                padding: 10px;
                span {
                    font-size: 12px;
                    // margin-top: 3px;
                    text-align: center;
                    align-items: center;
                }
            }
        }
    }
}
.header {
    // width: 380px;
    width: 100%;
    height: 60px;
    background: #fedfe3;
    margin: 0 auto;
    .text-header {
        // margin-top: 20px;
        margin: 0 auto;

        // line-height: 96.5%; /* 23.16px */
    }
    h1 {
        color: #965a00;

        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Caladea;
        font-size: 34px;
        font-style: normal;
        font-weight: 500;
    }
}
.image {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 250px;
    background: #000;

    img {
        // width: 390px;
        width: 100%;
        height: 250px;
        background-size: auto;
        position: relative;
        opacity: 0.7;
    }
    .text-block {
        margin-top: 20px;
        position: absolute;
        margin: 0 auto;
        z-index: 3;

        h2 {
            text-align: center;
            color: #fff;
            font-family: Caladea;

            font-size: 28px;
            font-weight: 500;
            letter-spacing: 7.32px;
        }
    }
}

.bg-opacity-image {
    max-width: 1400px;
    width: 100%;
    height: 250px;
    background: linear-gradient(#0000, #0000, #0000, #fedfe3);
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 0;
}
span, p, a {
    text-decoration: none;
    color: #000;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
}
@media screen and (max-width: 385px) {
    .App {
        .q5 {
            display: none;
        }
        .q6 {
            top: 60%;
            left: 14%;
        }
        .main {
            min-height: 170vh;
        }
    }
}